* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    .footer-wrapper {
        background-color: #333333;
        padding: 20px 10px;

        .footer-container {

            .footer-logo-container {
                text-align: center;

                img {
                    width: 100px;
                }
            }

            .footer-menu-container {
                text-align: center;

                h4 {
                    color: #fff;
                    margin-top: 20px;
                }

                .footer-link {
                    padding-top: 10px;
                    display: block;
                    color: #fff;
                    text-decoration: none;
                }
            }

            .footer-contact-container {
                text-align: center;
                color: #fff;
                margin-top: 20px;

                p {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    .footer-wrapper {
        background-color: #333333;
        padding: 20px 50px;

        .footer-container {
            display: flex;
            justify-content: space-between;

            .footer-logo-container {
                text-align: center;

                img {
                    min-width: 100px;
                    width: 150px;
                }
            }

            .footer-menu-container {
                text-align: center;

                h4 {
                    color: #fff;
                }

                .footer-link {
                    padding-top: 10px;
                    display: block;
                    color: #fff;
                    text-decoration: none;
                }
            }

            .footer-contact-container {
                text-align: center;
                color: #fff;

                p {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    .footer-wrapper {
        background-color: #333333;
        padding: 0 100px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
}