* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header-wrapper {
    // border: 1px solid blue;
    display: flex;
    padding: 20px 10px;

    .menu-btn {
        width: 30px;
        // cursor: pointer;
    }

    .header-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .logo {
            width: 10%;
        }
    }

    .cart-icon {
        width: 10%;
        max-width: 40px;
        max-height: 40px;
        margin-left: auto;
    }

    .nav-container {
        display: flex;
        position: fixed;
        z-index: 1;



        .nav-inner {
            display: block;
            position: absolute;
            left: -1000px;
            top: 0;
            bottom: 0;
            animation: fadeIn 0.8s;




            .nav-link {
                display: block;
                text-decoration: none;
                font-size: 20px;
                margin-top: 30px;
                color: #333333;
                font-weight: bold;

            }
        }

        .close-btn {
            display: none;
            width: 30px;
            position: absolute;
            z-index: 10;
            top: 10px;
            left: -1000px;
            // cursor: pointer;
        }

        &.isOpen {
            display: flex;
            height: 100vh;
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
            

            .nav-inner {
                background-color: #fff;
                width: 60%;
                height: 100vh;
                left: 0;
                top: 0;
                bottom: 0;
                padding: 20px;
                text-align: center;

            }

            .close-btn {
                display: block;
                top: 10px;
                left: 10px;
                animation: fadeIn 0.8s;

                // cursor: pointer;
            }


        }
    }

    @keyframes fadeIn {
        0% {
            transform: translateX(-1000px);
        }
        
        100% {
            transform: translateX(1px);

        }
    }

    @media only screen and (min-width: 800px) {}
}