* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-container {
    padding: 20px 10px;

    .hero-inner {
        .hero-offer {
            padding: 10px 0;
            text-align: center;

            h1 {
                font-size: 20px;
            }

            p {
                font-size: 15x;
            }
        }

        .hero-image-container {
            .hero-image {
                width: 100%;
                padding: 20px 0;
            }
        }
    }

    .btn-container {
        .cta-btn {
            padding: 10px;
            font-weight: bold;
            color: #fff;
            background-color: tomato;
            border: 0;
            border-radius: 10px;
        }
    }



    @media only screen and (min-width: 800px) {
        padding: 20px 50px;

        .hero-inner {
            display: flex;

            .hero-offer {
                margin-top: 200px;
                text-align: start;

                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 20px;
                    margin-top: 20px;
                }
            }

            .hero-image-container {
                margin-left: auto;


                .hero-image {
                    width: 100%;
                    padding: 20px 0;
                }
            }
        }

        .btn-container {

            .cta-btn {
                padding: 15px;
                width: 150px;
                border: 0;
                outline: 0;

            }
        }
    }

    @media only screen and (min-width: 1000px) {
        padding: 20px 100px;

        .hero-inner {
            .hero-offer {
                h1 {
                    font-size: 50px;
                }

                p {
                    font-size: 20px;
                    margin-top: 20px;
                }
            }

            .hero-image-container {
                margin-left: auto;
                align-items: flex-end;
                justify-content: flex-end;

                .hero-image {
                    width: 100%;
                    padding: 20px 0;
                }
            }
        }
    }
}