* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.items-container {

    .items-inner {
        
        .items-image {
            width: 100%;
        }

        .items-title {}

        .items-new-price {
            margin-top: 10px;
            font-weight: bold;
        }

        .items-old-price {
            color: lighten(black, 50);
            text-decoration: line-through;
        }
    }
}