* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.order-container {
    padding: 20px 10px;

    h1 {
        font-size: 20px;
    }

    form {

        .form-inner {

            .delivery-info {
                .first-last-container {
                    display: flex;
                    gap: 10px;
                }

                .city-state-container {
                    display: flex;
                    gap: 10px;
                }

                .zipcode-country-container {
                    display: flex;
                    gap: 10px;
                }

                input {
                    width: 100%;
                    margin-top: 10px;
                    padding: 10px;
                    border-radius: 5px;
                    border: 0.5px solid #ccc;
                }
            }

            .totals-container {
                .totals-inner {
                    margin-top: 100px;

                    .subtotal-container {
                        display: flex;
                        justify-content: space-between;
                        margin: 15px 0;
                        border-bottom: 1px solid #ccc;
                        padding: 10px 0;
                    }

                    .shipping-container {
                        display: flex;
                        justify-content: space-between;
                        margin: 15px 0;
                        border-bottom: 1px solid #ccc;
                        padding: 10px 0;
                    }

                    .total-amount-container {
                        display: flex;
                        justify-content: space-between;
                        margin: 15px 0;
                    }
                }

                .payment-gateway-container {
                    padding: 30px 0;

                    .payment-container {
                        margin-top: 10px;

                        .options {
                            margin-top: 10px;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid #ccc;
                            padding: 10px;
                        }

                        span {
                            align-items: center;
                            justify-content: center;
                            margin-left: 30px;

                            img {
                                width: 40px;
                            }
                        }

                    }
                }
            }
        }

        .pay-btn {
            padding: 15px;
            margin-top: 30px;
            background-color: tomato;
            color: #fff;
            font-weight: bold;
            border: 0;
            border-radius: 20px;
            cursor: pointer;
            width: 200px;
            font-size: 15px;

            &:hover {
                background-color: lighten(tomato, 10);
            }
        }
    }

    @media only screen and (min-width: 800px) {
        padding: 20px 50px;

        form {
            .form-inner {
                display: flex;
                justify-content: space-between;

                .totals-container {
                    width: 40%;

                    .totals-inner {
                        margin-top: 0;
                    }
                }
            }

            .pay-btn {
                display: flex;
               margin-left: auto;
               position: relative;
               justify-content: center;
               align-items: center;
            }
        }
    }


    @media only screen and (min-width: 1000px) {
        padding: 20px 100px;

        form {
            .form-inner {
                .delivery-info {
                    input {
                        width: 100%;
                        padding: 15px;
                    }
                }
            }
        }
    }
}